@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* ========================Page Header============================ */
@media screen and (max-width: 614px){
body{
    background-color: #eee;
    overflow-x: hidden;
}
#header{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px groove rgba(0, 0, 0, 0.3);
}
.container-header-items, .container-stories{
    display: flex;
    align-items: center;
}
#logo1-header{
    position: absolute;
    left: 2%;
    width: 4.5vw;
    height: 4.5vh;
}
#logo2-header{
    position: absolute;
    left: 42%;
    width: 19vw;
    height: 5vh;
}
#logo1-header > img, #logo2-header > img{
    width: 100%;
    height: 100%;
}
#header-icons{
    position: absolute;
    right: 2%;
}
#header-icons > span{
    display: none;
}
    #search-box-header{
        display: none;
    }

    /* =======================Page Publications============================= */
        .main-container{
            width: 100%;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            /*background-color: lightgrey;*/
            padding-bottom:7vh;
        }
        .container-body{
            width: 100%;
            /*background-color: grey;*/
            margin-top: 9vh;
        }
        .container-stories{
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            position: relative;
            overflow: hidden;
        }
    .stories{
        width: 14vw;
        height: 11vh;
        margin: 2%;
        /*background-color: #abf;*/
        position: relative;
        text-align: center;
    }
    .story-single{
        width: 9vw;
        height: 9vh;
        border-radius: 50%;
        padding: 3%;
        background-image: linear-gradient(to bottom right, red, blue);
    }
    .story-single > img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    #next{
        display: none;
    }
        .main-container-publications{
            border-top: 1px groove rgba(0, 0, 0, 0.3);
            border-bottom: 1px groove rgba(0, 0, 0, 0.3);
            margin-top: 4%;
        }
        .publications{
            width:100%;
            height: 70vh;
        }
        .publications > img, .video{
            width: 100%;
            height: 100%;
        }
        .publicator, .bottom-publicator{
            width: 100%;
            background-color: #fff;
            position: relative;
            display: flex;
            align-items: center;
        }
        .reactions{
            padding: 2%;
        }
        .liked-by{
            display:flex;
        }
        .liker-profile{
            width: 3vw;
            height: 3vh;
        }
        .other-likers > span{
            font-weight: bold;
        }
        .publication-plus{
            position: absolute;
            right: 2%;
            top: 30%;
            background-color: rgba(255, 0 , 0, 0);
        }
        .profile{
            padding: 1%;
            width: 5vw;
            height: 5vh;
        }
        .profile > img, .liker-profile > img{
            width:100%;
            height: 100%;
            border-radius: 50%;
        }
        .publications > img{
            width: 100%;
        }
/* ========================Page Sidebar============================ */
    .container-sidebar{
        display: none;
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        background-color: #fff;
        border-top: 1px groove rgba(0, 0, 0, 0.3);
    }
}