@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* ========================Page Header============================ */
@media screen and (min-width: 615px) and (max-width: 934px){
body{
    background-color: #eee;
    overflow-x: hidden;
}
#header{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px groove rgba(0, 0, 0, 0.3);
}
.container-header-items, .container-stories{
    display: flex;
    align-items: center;
}
#logo1-header{
    position: absolute;
    left: 2%;
    width: 4.5vw;
    height: 4.5vh;
}
#logo1-header > img, #logo2-header > img{
    width: 100%;
    height: 100%;
}
#logo2-header{
    position: absolute;
    left: 8%;
    width: 13vw;
    height: 5vh;
}
#search-box-header{
    width: 20vw;
    position: absolute;
    left: 43%;
    display: flex;
}
#search-box-header > input{
    width: 100%;
    height: 100%;
    border: 1px groove;
    border-radius: 5%;
    background-color: #ddd;
    padding: 3%;
}
#header-icons{
    position: absolute;
    right: 2%;
}

/* =======================Page Publications============================= */
    .main-container{
        width: 100%;
        align-items: center;
        margin-top: 7%;
        font-family: 'Roboto', sans-serif;
        /*background-color: lightgrey;*/
    }
    .container-body{
        width: 70%;
        /*background-color: grey;*/
        position: absolute;
        top: 9%;
        left: 15%;
    }
    .container-stories{
        width: 99.6%;
        background-color: #fff;
        border: 1px groove rgba(0, 0, 0, 0.3);
        position: relative;
        overflow: hidden;
    }
    .stories{
        width: 9vw;
        height: 9vh;
        margin: 2%;
        /*background-color: #abf;*/
        position: relative;
        text-align: center;
    }
    .story-single{
        width: 6.5vw;
        height: 7vh;
        border-radius: 50%;
        padding: 3%;
        background-image: linear-gradient(to bottom right, red, blue);
    }
    .story-single > img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    #next{
        position: absolute;
        right: 1.5%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        border: 1px groove;
        box-shadow: 1px black;
    }
    .main-container-publications{
        border: 1px groove rgba(0, 0, 0, 0.3);
        margin-top: 4%;
    }
    .publications{
        width:100%;
        height: 70vh;
    }
    .publications > img, .video{
        width: 100%;
        height: 100%;
    }
    .publicator, .bottom-publicator{
        width: 100%;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
    }
    .reactions{
        padding: 2%;
    }
    .liked-by{
        display:flex;
    }
    .liker-profile{
        width: 3vw;
        height: 3vh;
    }
    .other-likers > span{
        font-weight: bold;
    }
    .publication-plus{
        position: absolute;
        right: 2%;
        top: 30%;
        background-color: rgba(255, 0, 0, 0);
    }
    .profile{
        padding: 1%;
        width: 5vw;
        height: 6vh;
    }
    .profile > img, .liker-profile > img{
        width:100%;
        height: 100%;
        border-radius: 50%;
    }
    .publications > img{
        width: 100%;
    }
/* ========================Page Sidebar============================ */
    .container-sidebar{
        display: none;
    }
    .footer{
        display: none;
    }
}